<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>登录</title>
</head>

<body>
  <%= title %> <br>
  <form action="/api/user/login" method="POST" enctype="multipart/form-data">
    <input type="text" name="username"> <br>
    <input type="password" name="password"> <br>
    <input type="tel" name="vcode"> <br>
    <input type="file" name="file">
    <img src="/api/user/vcode" id="vcode" alt=""> <br>
    <button>登录</button>
  </form>
</body>
<script>
  var vimg = document.querySelector('#vcode')
  vimg.onclick = () => {
    vimg.src = '/api/user/vcode?r=' + new Date().getTime()
  }
</script>

</html>